[Unit]
Description=Open source XSOverlay notification API reimplementation
After=network.target graphical-session.target
ConditionEnvironment=|WAYLAND_DISPLAY
ConditionEnvironment=|DISPLAY

[Service]
Restart=always    
ExecStart=/usr/bin/xsnotifydaemon/XSNotifyDaemon

[Install]
WantedBy=graphical-session.target
