[Unit]
Description=Open source XSOverlay notification API reimplementation
After=network.target graphical.target

[Service]
Restart=on-failure
ExecStart=/usr/bin/xsnotifydaemon/XSNotifyDaemon

[Install]
WantedBy=graphical.target
